[submodule "vendor/tumblr/pytumblr"]
	path = vendor/tumblr/pytumblr
	url = https://github.com/tumblr/pytumblr.git
[submodule "vendor/simplegeo/python-oauth2"]
	path = vendor/simplegeo/python-oauth2
	url = https://github.com/simplegeo/python-oauth2.git
