# Copy this file to localconf.ini, and put some meaningful values
[tumblr]
blog = <the name of the blog on tumblr>
tag = DIY # Or the tag to identify DIY posts
key = <your tumblr client key>
secret = <your tumblr client secret>
